@{
    ViewData["Title"] = "Index";
}

<div class="Index">
    <h1>Bienvenidos a nuestro sistema de alumnos y tareas</h1>
    <a href = '@Url.Action("Login", "Account")' alt = >Iniciar sesion</a>
    <a href = '@Url.Action("Registrar", "Account")' alt= >Registrarse</a>
</div>
